<%- include('../includes/head', { title: 'Krosmaga Hub | Bans' }) %>
<%- include('../includes/socket-io') %>

<script defer src="/public/scripts/bans.no-room.js"></script>
<link rel="stylesheet" href="/public/styles/bans.no-room.css">

<p>
    Vous n'avez pas rejoint de session de bans. <br>
    Si votre adversaire possède un lien, demandez-lui de vous le partager. <br>
    Sinon, créez une nouvelle session !
</p>

<button id="new-room-button">Nouveau</button>