<%- include('../includes/head', { title: 'Krosmaga Hub | Bans' }) %>

<script defer src="/public/scripts/bans.no-room.js"></script>
<link rel="stylesheet" href="/public/styles/bans.no-room.css">

<body class="flex-center-column">
    <h1>
        Création d'une session de bans
    </h1>

    <p class="text-center">
        Si votre adversaire possède un lien, demandez-lui de vous le partager. <br>
        Sinon, créez une nouvelle session !
    </p>

    <label class="flex">
        Choisissez un nom pour votre session (facultatif) :
        <input type="text" id="room-id-input" placeholder="Session ID" class="text-center">
    </label>

    <label class="flex">
        Entrez votre pseudo in-game (avec le #tag) :
        <input type="text" id="player-name-input" placeholder="Pseudo" class="text-center" pattern="^.+#\d{4}$">
    </label>

    <label class="flex">
        Choisissez le nombre max de picks :
        <input type="number" id="max-picks-input" placeholder="Nombre de picks" class="text-center" value="3">
    </label>

    <label class="flex">
        Choisissez le nombre max de bans :
        <input type="number" id="max-bans-input" placeholder="Nombre de bans" class="text-center" value="1">
    </label>

    <button id="create-room-button">Nouveau</button>
</body>